<nav>
    <ul>
        <li><a href="/api/books">Home</a></li>
        <li><a href="/api/login">Login</a></li>
        <li><a href="/api/register">Register</a></li>
        <li><a href="/api/add-book">Add a book</a></li>
    </ul>
</nav>